<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" >
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    body{
 background-image: url("https://coolwallpapers.me/picsup/2628121-kempinski-hotel-residences-palm-jumeirah-4k-image-free.jpg");
 background-size: cover;
 background-repeat: no-repeat;
}
  </style>
</head>

<body style="background-color: silver;">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
          <strong><a class="navbar-brand" href="#">H M S</a></strong>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-target="#Mainmenu"
            data-bs-toggle="collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="Mainmenu">
            <ul class="navbar-nav mb-2 mt-2 ms-auto">
              <li class="nav-item">
                <a routerLink="/login" class="nav-link">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <br />
    <br><br>
   
    <!-- <h1 >Your Hotel has been booked successfully ,}}</h1> -->
    <div class="d-flex   sets flex-column min-vh-100 align-items-center">
    <h2>{{noOfRooms}} Room(s) Has Been Successfully Booked In {{hotelName}} Hotel</h2>
    <h3>Thank You For Choosing H M S  <i class="fa-solid fa-hands-praying fa-beat"></i> </h3>
    <h4>You Can Close This Page Now</h4>
   
  </div>
    <div class = "blocopreto">
    </div>
</body>
</html>