i{
    color: bisque;
 }
 h2,h3,h4{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(228, 234, 243);
    font-size: 30px;
 }
 .sets{
     margin-top: 100px;
 }