img{
    width: 60%;
    height: 60%;
}
.setsearch{
    display: flex;
   padding: 20px;
}


#Image{
    display: flex;
   
}
.format,b{
    font-size:20px ;
    padding: 10px;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.card-title{
font-size: 24px;

}