<!DOCTYPE html>
        <html>
            <head>
            
            <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>    
            </head>
            <body>

                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <div class="container-fluid">
                      <strong><a class="navbar-brand" href="#">H M S</a></strong>
                      <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-target="#Mainmenu"
                        data-bs-toggle="collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                      >
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="Mainmenu">
                        <ul class="navbar-nav mb-2 mt-2 ms-auto">
                          <li class="nav-item">
                            <a routerLink="/login" class="nav-link">Login</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                  
                  <br />
    
     <button onclick="history.back()"><i class='bi bi-arrow-return-left'></i> Go Back </button>
    <br><br>

<div class="text-center">
<h1 >TERMS AND CONDITIONS</h1>
</div>
<div class="container">
   
<P><em>We guarantee you the best available rate when you book a room through an official H M S website. If you find a lower publicly available rate (“Lower Rate”) elsewhere within 24 hours of making your booking, we will match the lower rate, subject to the following terms and conditions:<br><br><br>

    1. Reservations must be made through one of the H M S official websites.<br><br>
    
    2. The Lower Rate must be for the same type of accommodation, which means the same room type, at the same hotel or resort, with the same dates and length of stay, same number of guests, with a similar view or room size, same designation as either cancellable or non-cancellable, same advance purchase policies and the same terms and conditions governing the room rate.<br><br>
    
    3. You must complete and submit a claim submittal web form to H M S in accordance with the claim form’s instructions to process the claim.<br><br>

    4. You must submit your claim within 24 hours of the reservation being made with H M S and at least 48 hours (72 hours for non-English H M S websites) before the standard check-in time at the applicable H M S hotel or resort.<br><br>

    5. You may submit only one claim for each stay. A “stay” means the total number of consecutive nights spent at the same hotel or resort by the same guest or guests. You must complete the stay.<br><br>
    
    6. Rate comparisons will be made net of taxes, gratuities, service charges, early departure fees, or other fees and incidental charges. Free breakfast and free or discounted amenities or services offered as part of the Lower Rate will be excluded from the rate comparison, and will not be provided by Four Seasons when matching the Lower Rate.<br><br>
    
    7. H M S reserves the right to deny a claim, if it cannot independently verify the availability of a Lower Rate at the time it processes the claim. The Lower Rate must be bookable on another website. Advertised or inquiry only rates do not qualify.<br><br>

    8. H M S may at any time and without notice terminate or restrict a person’s ability to submit a claim under or otherwise benefit from the Best Rate Guarantee if in its sole discretion H M S determines that such person has: (a) acted in a manner inconsistent with applicable laws or ordinances; (b) acted in a fraudulent or abusive manner; (c) submitted multiple invalid Best Rate Guarantee claims; (d) failed to stay at H M S after receiving approved Best Rate Guarantee claims; or (e) breached any of these terms and conditions.<br><br>

    9. The Best Rate Guarantee will only apply to Four Seasons residential rental units that are included in a rental program managed by H M S.<br><br>
    
    10. The Best Rate Guarantee does not apply to existing reservations that are not booked through a Four Seasons website, and Four Seasons is not responsible for any fees associated with cancelling a reservation made through a different channel (e.g., a call centre, a non-H M S booking channel).</em></P>
</div>
</body>
</html>