nav{
    background-color: #D3E8E6;
}
.image,img{
          height: 500px;
          width:100%;
          
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}