<nav  class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid " >
    <strong><a class="navbar-brand" routerLink="">H M S</a></strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarNavDropdown">
         <ul class="navbar-nav mb-2 mt-1 ms-auto ">
        <li class="nav-item">
          <a class="nav-link " routerLink=""
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="/register" class="nav-link">Register</a></li>
              <!-- <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['login']" class="nav-link">Login</a></li> -->
        
      </ul>
      
    </div>
  </div>
</nav>
<section class="vh-100" style="background-color: silver">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="../../assets/loginpage2.jpg " height="900px" width="500px"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)"  novalidate>

              
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;font-size: 25px;">Sign in to your account</h5>

                  <div
                  *ngIf="name.errors?.['required'] && name.touched"
                  class="danger" style="color: red;"
                >
                  *please enter name
                </div>
                <div
                  *ngIf="name.errors?.['minlength']&& name.touched"
                  class="danger" style="color: red;"
                >
                  *please enter atleast 3 characters
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    name="un"
                    [(ngModel)]="un"
                    required
                    minlength="3"
                    maxlength="20"
                    #name="ngModel"
                    id="form2Example17"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form2Example17"
                    >User Name</label
                  >
                </div>

                <div
                  *ngIf="password.errors?.['required']&& password.touched"
                  class="danger" style="color: red;"
                >
                  *please enter password
                </div>
                <div
                  *ngIf="password.errors?.['minlength']&& password.touched"
                  class="danger" style="color: red;"
                >
                  *please enter 3 characters
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    name="pwd"
                    [(ngModel)]="pwd"
                    #password="ngModel"
                    required
                    minlength="3"
                    maxlength="10"
                    id="form2Example27"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form2Example27"
                    >Password</label
                  >
                </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  </div>
                  <!-- <asl-google-signin-button *ngIf="!user"></asl-google-signin-button> -->

                  <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="register"
                      style="color: #393f81;">Register here</a></p>
                  <a href="termcond" class="small text-muted">Terms and Conditions</a>
                 
                  
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>